@model CAwebapp.Models.UserInformation

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="bg-white rounded shadow-sm py-5 px-4">
        <img src="~/content/user.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        
        <h6 id="user-email" class="text-muted">Bla</h6>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create New Certificate</button>
    </div>
</div>